<div class="navbar">
  <div>
    <img class="logo" src="/images/mr-bean-logo.png" alt="" srcset="" />
  </div>
  <div>
    <nav>
      <ul>
        <li><a id = "home" href="/">Home</a></li>
        <li><a id = "about" href="/about">About</a></li>
        <li><a id = "episode-guide" href="/episode-guide">Episode Guide</a></li>
        <li><a id = "gallery" href="/gallery">Gallery</a></li>
      </ul>
    </nav>
  </div>
</div>