<div class="navbar">
  <div>
    <img class="logo" src="/images/mr-bean-logo.png" alt="" srcset="" />
  </div>
  <div>
    <nav>
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/episode-guide">Episode Guide</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
  </div>
</div>