<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>About</title>
</head>
<body>
    
    <h1>Mr. Bean</h1>
    
    <h2>Birthday</h2>
    <p>15 September 1956 (age 65)</p>
    
    <h2>Location</h2>
    <p>Flat 2, 12 Arbour Road, London</p>
    
    <h2>Relationships</h2>
    <p>Irma Gobb</p>

    <h2>Friends</h2>
    <p>Teddy, Irma Gobb, Rupert, Hubert, Mrs. Wicket (occasionally), Sabine, Stepan</p>

    <h2>Enemies</h2>
    <p>Mrs. Wicket (usually), Scrapper, The Thieves, Restaurant Owner, The Chef, Religant Robin</p>

</body>
</html>