{{> navigation}}

<h2 class="gallery-text">Here you'll find the funniest pictures of Mr. Bean and his adventures!</h2>

<div class="gallery">
    
    <div class="big-image-container">
        <img class="big-image" src="https://images.cosmopolitan.de/104241-was-macht-mr-bean-eigentlich-heute,id=8136419d,b=cosmopolitan,w=1100,rm=sk.webp" alt="" srcset="">
    </div>
    
    <div class="small-images"></div>

</div>