{{> navigation}}

<section>
    <h1>Gallery</h1>
    <h3>Here you'll find the funniest pictures of Mr. Bean and his adventures!</h3>
</section>

<section class="gallery">
    <div class="big-image-container">
<img class="big-image" src="https://images.cosmopolitan.de/104241-was-macht-mr-bean-eigentlich-heute,id=8136419d,b=cosmopolitan,w=1100,rm=sk.webp" alt="" srcset="">
    </div>

    <div class="small-images">

    </div>
</section>

<script src="/js/gallery.js"></script>

