{{> navigation}}

<h1>Gallery</h1>
    <p class="intro">Mr. Bean is the main protagonist in the comedy series of the same name. He is a slow-witted, sometimes ingenious, selfish, and generally likable buffoon who brings various unusual schemes and connivance to everyday tasks.</p>
