<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Home</title>
</head>
<body>
    <menu>
        <ol>
            <li><a href='/'>Home</a></li>
            <li><a href='/about'>About</a></li>
            <li><a href='/works'>Works</a></li>
        </ol>
    </menu>
    <h1>Mr. Bean</h1>
    <p class="intro">Mr. Bean is the main protagonist in the comedy series of the same name. He is a slow-witted, sometimes ingenious, selfish, and generally likable buffoon who brings various unusual schemes and connivance to everyday tasks.</p>

</body>
</html>