{{> navigation}}
<div id="index-container">
    <div>
        <img id="mr-bean-index-img" src="/images/mr-bean.png" alt="Mr. Bean Image">
    </div>
    <div id="index-text-container">
        <img id = "mr-bean-index-text-img" src="/images/mr-bean-index.png" alt="Mr. Bean">
        <p class="index-text">Mr. Bean is the main protagonist in the comedy series of the same name. He is a slow-witted, sometimes ingenious, selfish, and generally likable buffoon who brings various unusual schemes and connivance to everyday tasks.</p>
    </div>
</div>  