
{{> navigation}}

<section>
    <h3>Are you looking for a specific episode to watch? Look no  further! You'll find all episodes of the Mr. Bean TV show here.</h3>
    <h3>Click on the cards to read the episode decriptions.</h3>
</section>

<section>
<div class="card-grid">
{{#each episodes}}
  {{> episodesCards this}}
{{/each}}
</div>
</section>

