
{{> navigation}}

<section>
    <h1>Episode Guide</h1>
    <h3>Are you looking for a specific episode to watch? Look no  further! You'll find all episodes of the Mr. Bean TV show here.</h3>
</section>


<div class="card-grid">
{{#each episodes}}
  {{> episodesCards this}}
{{/each}}
</div>

