body {
  background-color: aquamarine;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  padding: 2rem 6rem;
  margin: 0;
}

h1 {
  text-align: center;
}

/* NAV -> alice */

.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.logo {
    width: 400px;
    height: auto;
}

nav {
  align-items: center;
}

nav ul {
    display:flex;
    flex-direction: row;
    list-style-type: none;
}

nav li {
    padding-right: 20px;
}

nav a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
    
}

nav a:hover {
    border-bottom: 4px solid black;
}

nav a:current-menu-item {
    color: rgb(255, 122, 144);
    border-bottom: 4px solid rgb(255, 122, 144);
}
/* INDEX/HOME -> joao */

.intro {
  text-align: center;
  padding: 0 20% 0 20%;
}

/* ABOUT -> joao */

.about-container{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.about-images {
  
}

.move-slide-arrow{

}

.hidden {
    display:none;
}

/* WORKS -> alice */

/* GALLERY -> alice */
