body {
  background-color: aquamarine;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  padding: 0rem 6rem;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

/*index*/

.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  height: 15%;
  margin-bottom: 5%;
}

.logo {
  width: 350px;
  height: auto;
}

nav {
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav li {
  padding-right: 2rem;
}

nav a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
}

nav a:hover {
  border-bottom: 4px solid;
}

.current-menu-item {
  color: rgb(255, 122, 144);
  border-bottom: 4px solid rgb(255, 122, 144);
}

.index-text {
  text-align: center;
  padding: 0 10% 0 10%;
}

#mr-bean-index-img {
  height: 80vh;
}

#mr-bean-index-text-img {
  width: 400px;
}

#index-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#index-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*about*/

#about-container {
  display: flex;
  justify-content: center;
}

.about-images {
  height: 300px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.move-slide-button-left {
  border: 0;
  background: none;
}

.move-slide-button-right {
  border: 0;
  background: none;
}

.about-slides-text {
  text-align: center;
  font-size: x-large;
  width: 850px;
}

.extra-text{
  font-size: large;
}

@media screen and (max-width: 992px) {
  .extra-text {
    display: none;
  }
}

/*works*/

section {
  text-align: center;
  margin-bottom: 4rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.card {
  height: 25vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #eedede;
  transform-style: preserve-3d;
  transition: all 0.6s ease;
}

.front {
  backface-visibility: hidden;
}

.back {
  height: 100%;
  transform: rotateY(180deg);
  position: absolute;
  text-align: center;
  right: 1rem;
  left: 1rem;
  top: 1rem;
  backface-visibility: hidden;
}

.card.turn {
  transform: rotateY(180deg);
}

.row-1 {
  display: flex;
  height: 35%;
}

.col-1 {
  flex: 1;
  background-color: #ff7b7b;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-2 {
  flex: 4;
  background-color: black;
  padding: 0 2rem 0 2rem;
  display: flex;
  align-items: center;
}

.episode-number {
  text-align: center;
  font-size: 2.4rem;
  line-height: 0%;
  color: white;
}

.row-2 {
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0 1rem;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.aired {
  color: white;
  font-size: 0.9rem;
  line-height: 0%;
  font-weight: 200;
  text-align: right;
}

.description {
  font-size: 0.9rem;
  text-align: justify;
}

/*gallery*/

.gallery {
  width: 700px;
  margin: 0 auto;
}

.big-image-container {
  width: 700px;
  height: 420px;
  margin-bottom: 1rem;
}

.big-image {
  object-fit: cover;
  object-position: 50% 20%;
  width: 100%;
  height: 100%;
}

.small-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 1rem;
  height: 60px;
  overflow: hidden;
}

.small-images img {
  width: 100%;
}

.gallery-text{
  text-align: center;
  padding: 0rem 0rem 0rem 1rem;
}